#cart-container {
    width: 100px;
    height: 100px;
    background-color: rgb(78,78,78);
    border-radius: 50%;
    position: fixed;
    top: -40px;
    right: -35px;
    z-index: 2;
}

#cart-container:hover {
    cursor: pointer;
}

#cart-content {
    position: relative;
    top: 45%;
    left: 10%;
}

#cart-content * {
    display: inline;
}

#cart-image {
    width: 40px;
}

#cart-count {
    background-color: white;
    color: rgb(78,78,78);
    font-size: 80%;
    font-weight: 800;
    padding: 1px 5px 3px;
    border-radius: 100px;
    position: relative;
    right: 10px;
    bottom: 30px;
}