#cart {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;
    overflow-y: scroll;
    animation: slide-up .8s;
}

@keyframes slide-up{
    from{
        position: fixed;
        top: 110vh;
    }
    to{
        position: fixed;
        top: 0;
    }
}

#payment-confirmation-container {
    width: 90vw;
    height: 90vh;
    background-color: rgba(231, 231, 231, 0.9);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

#payment-confirmation-statement {
    width: 95%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    text-align: center;
}

#cart-summary {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:white;
    border-top: 1px solid rgb(78, 78, 78);
    border-radius: 30px;
}

#cart-summary-content {
    width: fit-content;
    margin: 0 auto 30px;
}

#cart-summary-total {
    text-align: center;
}

.cart-item {
    width: 90vw;
    margin: 10px auto 50px;
    padding: 0 10px 70px;
    text-align: center;
    border-bottom: 1px solid rgb(223, 223, 223);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.last {
    margin-bottom: 25vh;
}

.cart-item-image {
    width: 50%;
    margin: 0 5vw 0 auto;
}

.cart-item-title {
    font-size: 100%;
    margin: 25% auto 0;
}

.cart-item-qty-container {
    margin: 25% auto 0;
}

.update-cart-quantity {
    font-size: 15px;
    width: 35px;
    padding: 5px 10px 5px 15px;
    border: 1px solid rgb(78, 78, 78);
    border-radius: 15px;
}

.update-cart-button {
    margin-top: 5px;
    padding: 5px 20px;
    border: 1px solid rgb(78, 78, 78);
    border-radius: 15px;
}

.update-cart-button:hover {
    cursor: pointer;
}

.update-cart-button:active {
    background-color: rgb(78, 78, 78);
    color: white;
}

#shipping {
    font-size: 50%;
}

#intl-shipping-button {
    width: 250px;
    height: 40px;
    color: white;
    background: linear-gradient(to bottom, rgb(0, 0, 255), rgb(0, 0, 161));
    margin: 0 auto 20px;
    font-weight: 800;
    border: 0;
    border-radius: 10px;
}

#intl-shipping-button:hover {
    cursor: pointer;
}

#discount-code-container {
    height: 40px;
    margin: 0 auto 20px;
}

#discount-code-input {
    font-size: 22px;
    width: 200px;
}

#discount-code-button {
    height: 40px;
    padding: 0 10px;
    color: white;
    background: linear-gradient(to bottom, rgb(0, 0, 255), rgb(0, 0, 161));
    font-weight: 800;
    border: 0;
    border-radius: 10px;
    margin-left: 5px;
}

#discount-code-button:hover {
    cursor: pointer;
}

@media(min-width: 900px){
    .update-cart-button {
        display: inline;
    }
    .cart-item-image {
        margin-top: 0;
    }
    .cart-item-title {
        font-size: 20px;
    }
    #cart-summary-content {
        display: grid;
        grid-template-columns: 3fr 3fr 3fr;
        margin-bottom: 10px;
    }
    #cart-summary-paypal {
        padding: 10% 0;
    }
    #intl-shipping-button {
       margin: 25px 30px 20px 20px;
    }
}